<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= heading %></title>
  <meta charset="UTF-8" />
  <script>
    window.addEventListener("load", function() {
      var button = document.getElementById("connect");
      var status = document.getElementById("status");
      var output = document.getElementById("output");
      var summary = document.getElementById("summary");
      var filename = document.getElementById("filename");
      var testcase = document.getElementById("testcase");
      var source;

      function connect() {
        source = new EventSource("<%= streamName %>" + "?name=" + filename.value + 
          "&testcase=" + testcase.options[testcase.selectedIndex].value);

        source.addEventListener("info", function(event) {
          output.innerHTML += event.data;
          output.scrollTop = output.scrollHeight;
        }, false);

        source.addEventListener("summary", function(e) {
          summary.innerHTML += event.data;
          summary.scrollTop = summary.scrollHeight;
        }, false);

        source.addEventListener("clear", function(event) {
          output.innerHTML = "";
        }, false);


        source.addEventListener("open", function(event) {
          button.value = "Disconnect";
          output.innerHTML = "";
          summary.innerHTML = "";
          button.onclick = function(event) {
            source.close();
            button.value = "Connect";
            button.onclick = connect;
            status.textContent = "Connection closed!";
          };
          status.textContent = "Connection open!";
        }, false);

        source.addEventListener("error", function(event) {
          source.close();
          button.value = "Connect";
          button.onclick = connect;
          status.textContent = "Connection closed!";
        }, false);
      }

      if (!!window.EventSource) {
        button.onclick = connect;
      } else {
        button.style.display = "none";
        status.textContent = "Sorry, your browser doesn't support server-sent events :( ";
      }
    }, false);
  </script>
  <style>
    .console{
      overflow: auto;
      height: 100%;
    }
  </style>
</head>
<body style="margin:0; height:100vh; width:100vw;">
  <div style="height:20vh;">
    <div style="padding: 20px 0px 0px 20px;">
      File Name : <input type="text" id="filename"></input>
      Testcase File : <select id="testcase">
          <% for(var i = 0; i < testList.length; i++){ %>
            <option value="<%= testList[i].file %>"><%= testList[i].name %></option>
          <% } %> 
      </select>
      <input type="button" id="connect" value="Connect" /><br />
      <span id="status">Connection closed!</span><br />
    </div>
  </div>
  <div style="width: 100vw; height:80vh;">
    <div class="console" style="float:left; width: 40%; background-color: #0F0F0F" id="output" ></div>
    <div class="console" style="float:right; width: 60%; background-color: #202020" id="summary"></div>
  </div>
</body>
</html>