<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="js/Chart.bundle.min.js"></script>
    <script src="js/jquery-3.1.0.min.js"></script>
  </head>
  <body>
  	<canvas id="fftChart" width="1000px" height="600px"></canvas>
  	<script>
		var ctx = $("#fftChart");
		var fftchart = Chart.Line(ctx, {

		    data: {
		        labels: [<%= label %>],
		        datasets: [{
		        	label: "<%= head %>",
		            data: <%- JSON.stringify(line) %>,
		            backgroundColor: [
		                'rgba(255, 99, 132, 0.2)',
		                'rgba(54, 162, 235, 0.2)',
		                'rgba(255, 206, 86, 0.2)',
		                'rgba(75, 192, 192, 0.2)',
		                'rgba(153, 102, 255, 0.2)',
		                'rgba(255, 159, 64, 0.2)'
		            ],
		            borderColor: [
		                'rgba(255,99,132,1)',
		                'rgba(54, 162, 235, 1)',
		                'rgba(255, 206, 86, 1)',
		                'rgba(75, 192, 192, 1)',
		                'rgba(153, 102, 255, 1)',
		                'rgba(255, 159, 64, 1)'
		            ],
		            borderWidth: 1,
		            pointRadius: 0,
		            lineTension: 0
		        }]
		    },
		    options: {
		        scales: {
		            xAxes: [{
		                type: 'logarithmic',
		                position: 'bottom',
		                ticks: {
		                    min: 20,
		                    max: 20000
		                }
		            }],
		            yAxes: [{
		                ticks: {
		                    beginAtZero:true
		                }

		            }]
		        },
		        responsive: false
		    }
		});
  	</script>
  </body>
</html>